extends reviewLayout

block link
    -var selected = '/review/add'

block append javascripts
    script.
        $("#review").validate({

        });

block append stylesheets
    style.
        label {
            width: 100%;
        }

block reviewBody

    form#review(role='form', method="post", action="/review/save", enctype="application/x-www-form-urlencoded")
        input(type="hidden", id="id", value=data.id)

        h5.heading Page Settings
        .row
            .col.s12: .card-panel
                .input-field
                    input.validate(type="text", id="title", value=data.title, required)
                    label(for="title") Review Title

                .input-field
                    input.validate(type="text", id="subtitle", value=data.subtitle)
                    label(for="subtitle") Subtitle

                .input-field
                    textarea.validate.materialize-textarea(id="intro", required)
                        =data.intro
                    label(for="intro") Introduction

        if (data.absinthe)
            h5.heading Absinthe Details
            .row
                .col.s12: .card-panel
                    p
                    .input-field
                        input.validate(type="text", id="absinthe[make]", value=data.absinthe.make, required)
                        label(for="absinthe[make]") Make

                    .input-field
                        input.validate(type="text", id="absinthe[type]", value=data.absinthe.type, required)
                        label(for="absinthe[type]") Type

                    .input-field
                        input.validate(type="text", id="absinthe[manufacturer]", value=data.absinthe.manufacturer, required)
                        label(for="absinthe[manufacturer]") Manufacturer

                    .input-field
                        input.validate(type="text", id="absinthe[country]", value=data.absinthe.country, required)
                        label(for="absinthe[country]") Country

                    .input-field
                        input.validate(type="text", id="absinthe[alcohol]", value=data.absinthe.alcohol, required)
                        label(for="absinthe[alcohol]") Alcohol

        if data.ratings
            h5.heading Review Details
            .row
                .col.s12: .card-panel
                    -each rating, index in data.ratings
                        .input-field
                            input(type="hidden", id="ratings[#{index}][ratingId]", value=rating.id)
                            input(type="hidden", id="ratings[#{index}][sortorder]", value=rating.sortorder)
                            input(type="hidden", id="ratings[#{index}][attribute]", value=rating.attribute)
                            input(type="hidden", id="ratings[#{index}][score]", value=rating.score, class="score")
                            textarea.validate.materialize-textarea(rows="2", id="ratings[#{index}][content]", required)
                                =rating.content
                            label.validate(for="ratings[#{index}][content]")= rating.attribute
                            | Rating


        h5.heading Conclusion
        .row
            .col.s12: .card-panel
                .input-field
                    textarea.validate.materialize-textarea(id="conclusion", required)
                        =data.conclusion
                    label(for="conclusion")

        .row
            .col.s12
                // a.waves-effect.waves-light.btn-large(href="/", role="button") Cancel
                button.right.waves-effect.waves-light.btn-large(type="submit") Save Review

