extends reviewLayout

block link
    -var selected = '/review/add';
//http://rbeere.tumblr.com/post/41212250036/internationalization-with-express-jade-and
block extraJavascript
    script.
        $('.ui.star.rating').rating({
            maxRating: 5
        });

block reviewBody

    form.ui.large.form(role='form', action="/register", method="post")

        .ui.raised.segment

            .ui.massive.teal.ribbon.label Page Settings

            p

            .field
                label(for="title") Review Title
                input(type="text", name="title", value=data.title)

            .field
                label(for="subtitle") Subtitle
                input(type="text", name="subtitle", value=data.subtitle)

            .field
                label(for="intro") Introduction
                textarea(name="intro", value=data.intro)

        -each item in data.absinthe

            .ui.raised.segment

                .ui.large.teal.ribbon.label Absinthe Details

                p

                .field
                    label(for="absinthe.name") name
                    input(type="text", name="absinthe.name", value=item.name)

                .field
                    label(for="absinthe.type") type
                    input(type="text", name="absinthe.type", placeholder="Type", value=item.type)

                .field
                    label(for="absinthe.manufacturer") manufacturer
                    input(type="text", name="absinthe.manufacturer", placeholder="manufacturer", value=item.manufacturer)

                .field
                    label(for="absinthe.country") country
                    input(type="text", name="absinthe.country", placeholder="country", value=item.country)

                .field
                    label(for="absinthe.alcohol") alcohol
                    input(type="text", name="absinthe.alcohol", placeholder="alcohol", value=item.alcohol)

        -each rating in data.rating

            .ui.raised.segment
                .ui.large.teal.ribbon.label Review Details

                p

                .field
                    label(for="rating.appearance") appearance
                    textarea(rows="2", name="rating.appearance", value=rating.appearance)
                    .ui.star.rating(data-rating=rating.appearance_rating)

                .field
                    label(for="rating.louche") louche
                    textarea(rows="2", name="rating.louche", value=rating.louche)
                    .ui.star.rating(data-rating=rating.louche_rating)

                .field
                    label(for="rating.aroma") aroma
                    textarea(rows="2", name="rating.aroma", value=rating.aroma)
                    .ui.star.rating(data-rating=rating.aroma_rating)

                .field
                    label(for="rating.flavor") flavor
                    textarea(rows="2", name="rating.flavor", value=rating.flavor)
                    .ui.star.rating(data-rating=rating.flavor_rating)

                .field
                    label(for="rating.finish") finish
                    textarea(rows="2", name="rating.finish", value=rating.finish)
                    .ui.star.rating(data-rating=rating.finish_rating)

                .field
                    label(for="rating.overall") overall
                    textarea(rows="2", name="rating.overall", value=rating.overall)
                    .ui.star.rating(data-rating=rating.overall_rating)


        .ui.raised.segment

            .ui.large.teal.ribbon.label Conclusion

            p

            .field
                label(for="conclusion")
                textarea(name="conclusion", value=data.conclusion)

            .ui.equal.width.grid.padded
                .row
                    a.ui.massive.cancel.button.column(href="/", role="button") Cancel
                    .column
                    button.ui.primary.massive.submit.button.column(type="submit") Save Review

        .ui.error.message