extends reviewLayout

block link
    -var selected = '/review/add'

block extraJavascript

  script.
    jQuery(function(){
        $('.ui.star.rating').rating({
            maxRating: 5,
            onRate(value) {
                $(this).closest(".field").find("input:hidden").val(value)
            }
        })
        $('.ui.form').form({
            fields: {
                title:['minLength[1]', 'maxLength[300]', 'empty']

            }
        })
      })

block reviewBody

    form.ui.large.form(role='form', method="post", enctype="application/x-www-form-urlencoded")
        if (user)
            input(type="hidden", name="author", value=user.username)

        .ui.raised.segment
            .ui.massive.ribbon.label Page Settings
            p

            .field
                label(for="title") Review Title
                input(type="text", name="title", value=data.title)

            .field
                label(for="subtitle") Subtitle
                input(type="text", name="subtitle", value=data.subtitle)

            .field
                label(for="intro") Introduction
                textarea(name="intro")
                    =data.intro

        if (data.absinthe)
            .ui.raised.segment
                .ui.large.ribbon.label Absinthe Details
                p
                .field
                    label(for="absinthe_make") Make
                    input(type="text", name="absinthe[make]", value=data.absinthe.make)

                .field
                    label(for="absinthe_type") Type
                    input(type="text", name="absinthe[type]", value=data.absinthe.type)

                .field
                    label(for="absinthe_manufacturer") Manufacturer
                    input(type="text", name="absinthe[manufacturer]", value=data.absinthe.manufacturer)

                .field
                    label(for="absinthe_country") Country
                    input(type="text", name="absinthe[country]", value=data.absinthe.country)

                .field
                    label(for="absinthe_alcohol") Alcohol
                    input(type="text", name="absinthe[alcohol]", value=data.absinthe.alcohol)

        .ui.raised.segment
            .ui.large.ribbon.label Review Details
            p
            each item, attribute in data.rating
                .field
                    label(for="rating["+attribute+"][content]")= attribute
                    textarea(rows="2", name="rating["+attribute+"][content]")
                        =item.content
                    input(type="hidden", name="rating["+attribute+"][score]", value=item.score)
                    .ui.star.rating(data-rating=item.score)

        .ui.raised.segment
            .ui.large.ribbon.label Conclusion
            p

            .field
                label(for="conclusion")
                textarea(name="conclusion")
                    =data.conclusion

            .ui.equal.width.grid.padded
                .row
                    a.ui.massive.cancel.button.column(href="/", role="button") Cancel
                    .column
                    button.ui.primary.massive.submit.button.column(type="submit") Save Review

        .ui.error.message
