extends reviewLayout

block link
    - var selected = '/review'
    script.
        var URL_FOLDER = '/review'

block reviewBody

    .card: .card-content
        include panels/reviewToolbar
        .section(style="position:relative")

            form#reviewListForm(role='form', method='post')

                table
                    thead
                        tr
                            th
                                if data.length
                                    input(type="checkbox", name="selectAll")
                            th Title
                            th Author
                            th Absinthe
                            th Actions

                    if data.length
                        tbody
                            each row in data
                                tr
                                    td
                                        input(type="checkbox", id=row.id, name="reviewid", value=row.id)
                                        label(for=row.id)
                                    td
                                        a(href= "/review/view?id=#{row.id}")
                                            if (row.title && row.title.length > 0)
                                                =row.title
                                            else
                                                | undefined
                                    td= row.author
                                    td
                                        if row.absinthe
                                            = row.absinthe.make
                                    td
                                        a(href="/review/delete?review=#{row.id}", title="Delete")
                                            i.material-icons delete
                    else
                        tfoot: tr: td(colspan="5").center No Results

    include ../includes/confirmModal

