extends reviewLayout

block link
    -var selected = '/review/add';

block link
    -var selected = '/review/add';

block extraJavascript
    script.
        $('.ui.star.rating').rating({
            maxRating: 5
        });
        /*http://rbeere.tumblr.com/post/41212250036/internationalization-with-express-jade-and*/

block reviewBody

    form.ui.large.form(role='form', action="/review/save", method="post", enctype="application/x-www-form-urlencoded")
        if (user)
            input(type="hidden", name="autho", value=user.username)

        .ui.raised.segment
            .ui.massive.teal.ribbon.label Page Settings
            p

            .field
                label(for="title") Review Title
                input(type="text", name="title", value=data.title)

            .field
                label(for="subtitle") Subtitle
                input(type="text", name="subtitle", value=data.subtitle)

            .field
                label(for="intro") Introduction
                textarea(name="intro", value=data.intro)

        .ui.raised.segment
            .ui.large.teal.ribbon.label Absinthe Details
            p

            .field
                label(for="absinthe_make") Make
                input(type="text", name="absinthe_make", value=data.absinthe.make)

            .field
                label(for="absinthe_type") Type
                input(type="text", name="absinthe_type", value=data.absinthe.type)

            .field
                label(for="absinthe_manufacturer") Manufacturer
                input(type="text", name="absinthe_manufacturer", value=data.absinthe.manufacturer)

            .field
                label(for="absinthe_country") Country
                input(type="text", name="absinthe_country", value=data.absinthe.country)

            .field
                label(for="absinthe_alcohol") Alcohol
                input(type="text", name="absinthe_alcohol", value=data.absinthe.alcohol)

        .ui.raised.segment
            .ui.large.teal.ribbon.label Review Details
            p

            -each r in data.rating

                .field
                    label(for=r.content)= r.identity
                    textarea(rows="2", name="rating.score", value=r.content)
                    .ui.star.rating(data-rating=r.score)
                    input(type="hidden", name="rating.score", value=r.score)

        .ui.raised.segment
            .ui.large.teal.ribbon.label Conclusion
            p

            .field
                label(for="conclusion")
                textarea(name="conclusion", value=data.conclusion)

            .ui.equal.width.grid.padded
                .row
                    a.ui.massive.cancel.button.column(href="/", role="button") Cancel
                    .column
                    button.ui.primary.massive.submit.button.column(type="submit") Save Review

        .ui.error.message