extends reviewLayout

block link
    -var selected = '/review/add'

block reviewBody

    form#review.ui.large.form(role='form', method="post", action="/review/save", enctype="application/x-www-form-urlencoded")
        input(type="hidden", name="id", value=data.id)
        .ui.raised.segment
            .ui.massive.ribbon.label Page Settings
            p
            .input-field
                label(for="title") Review Title
                input(type="text", name="title", value=data.title)

            .input-field
                label(for="subtitle") Subtitle
                input(type="text", name="subtitle", value=data.subtitle)

            .input-field
                label(for="intro") Introduction
                textarea.materialize-textarea(name="intro")
                    =data.intro

        if (data.absinthe)
            .ui.raised.segment
                .ui.large.ribbon.label Absinthe Details
                p
                .input-field
                    label(for="absinthe[make]") Make
                    input(type="text", name="absinthe[make]", value=data.absinthe.make)

                .input-field
                    label(for="absinthe[type]") Type
                    input(type="text", name="absinthe[type]", value=data.absinthe.type)

                .input-field
                    label(for="absinthe[manufacturer]") Manufacturer
                    input(type="text", name="absinthe[manufacturer]", value=data.absinthe.manufacturer)

                .input-field
                    label(for="absinthe[country]") Country
                    input(type="text", name="absinthe[country]", value=data.absinthe.country)

                .input-field
                    label(for="absinthe[alcohol]") Alcohol
                    input(type="text", name="absinthe[alcohol]", value=data.absinthe.alcohol)

        if data.ratings
            .ui.raised.segment
                .ui.large.ribbon.label Review Details
                p
                -each rating, index in data.ratings
                    .input-field
                        input(type="hidden", name="ratings[#{index}][ratingId]", value=rating.id)
                        input(type="hidden", name="ratings[#{index}][sortorder]", value=rating.sortorder)
                        input(type="hidden", name="ratings[#{index}][attribute]", value=rating.attribute)
                        input(type="hidden", name="ratings[#{index}][score]", value=rating.score, class="score")
                        label(for="ratings[#{index}][content]")= rating.attribute
                        textarea.materialize-textarea(rows="2", name="ratings[#{index}][content]")
                            =rating.content
                        .ui.star.rating(data-rating=rating.score)

        .ui.raised.segment
            .ui.large.ribbon.label Conclusion
            p

            .input-field
                label(for="conclusion")
                textarea.materialize-textarea(name="conclusion")
                    =data.conclusion

            .ui.equal.width.grid.padded
                .row
                    .col.s12
                        a.btn(href="/", role="button") Cancel
                        button.btn(type="submit") Save Review

