extends layout

block extraJavascript
    script.
        $('.ui.rating').rating({
            maxRating: 5
        });

block content

    h1.ui.teal.header= title
    
    form.ui.large.form(role='form', action="/register", method="post")
       
        .ui.raised.segment
    
            .ui.large.ribbon.labe Page Settings

            .field
                label(for="title") Review Title
                input(type="text", name="title", value=data.title)

            .field
                label(for="subtitle") Subtitle
                input(type="text", name="subtitle", value=data.subtitle)

            .field
                label(for="intro") Introduction
                textarea(name="intro", value=data.intro)

        -each item in data.absinthe
        
            .ui.raised.segment
        
                .ui.large.ribbon.label Absinthe Details
  
                p
  
                .field
                    label(for="absinthe.name") name
                    input(type="text", name="absinthe.name", value=item.name)

                .field
                    label(for="absinthe.type") type
                    input(type="text", name="absinthe.type", placeholder="Type", value=item.type)

                .field
                    label(for="absinthe.manufacturer") manufacturer
                    input(type="text", name="absinthe.manufacturer", placeholder="manufacturer", value=item.manufacturer)

                .field
                    label(for="absinthe.country") country
                    input(type="text", name="absinthe.country", placeholder="country", value=item.country)

                .field
                    label(for="absinthe.alcohol") alcohol
                    input(type="text", name="absinthe.alcohol", placeholder="alcohol", value=item.alcohol)

        -each rating in data.rating
    
            .ui.raised.segment
                .ui.large.ribbon.label Review Details

                .field
                    label(for="rating.appearance") appearance
                    textarea(rows="2", name="rating.appearance", value=rating.appearance)
                    .ui.rating(data-rating=rating.appearance_rating)

                .field
                    label(for="rating.louche") louche
                    textarea(rows="2", name="rating.louche", value=rating.louche)
                    .ui.rating(data-rating=rating.louche_rating)


                .field
                    label(for="rating.aroma") aroma
                    textarea(rows="2", name="rating.aroma", value=rating.aroma)
                    .ui.rating(data-rating=rating.aroma_rating)

                .field
                    label(for="rating.flavor") flavor
                    textarea(rows="2", name="rating.flavor", value=rating.flavor)
                    .ui.rating(data-rating=rating.flavor_rating)

                .field
                    label(for="rating.finish") finish
                    textarea(rows="2", name="rating.finish", value=rating.finish)
                    .ui.rating(data-rating=rating.finish_rating)

                .field
                    label(for="rating.overall") overall
                    textarea(rows="2", name="rating.overall", value=rating.overall)
                    .ui.rating(data-rating=rating.overall_rating)

      
        .ui.raised.segment

            .ui.large.ribbon.label Conclusion

            .field
                label(for="conclusion")
                textarea(name="conclusion", value=data.conclusion)

            .ui.equal.width.grid.padded
                .row
                    a.ui.massive.cancel.button.column(href="/", role="button") Cancel
                    .column
                    button.ui.primary.massive.submit.button.column(type="submit") Save
       
        .ui.error.message