extends userLayout

block append javascripts
    script.
        $("#userForm").validate();

block userContent

    form#userForm(role="form", method="post", action="/users/save", enctype="application/x-www-form-urlencoded")
        input(type="hidden", name="id", value=data.id)
        .card-panel
            .row
                .col.s12
                    .input-field
                        input(type="text", name="username", value=data.username, required)
                        label(for="username") Username

            .row
                .col.s6
                    .input-field
                        input(type="password", name="password", value=data.password, required)
                        label(for="password") Password

                .col.s6
                    .input-field
                        input(type="password", name="password_confirm", value=data.password, required)
                        label(for="password") Confirm Password

            .row
                .col.s12
                    .input-field
                        input(type="text", name="fullName", value=data.fullName, required)
                        label(for="fullName") Name

            .row
                .col.s12
                    .input-field
                        input(type="email", name="email", value=data.email, required)
                        label(for="email") Email

        .row
            .col.s12
                button.right.waves-effect.waves-light.btn-large(type="submit") Save User