extends ./layout

block append javascripts
    script.
        jQuery(function ($) {
            var emailCount = $("#userForm input[id^='emails_value_'").length
            var emailRowsFull = (emailCount > 2)
            if (!emailRowsFull) {
                $('#addRow').removeClass('disabled')
            } else {
                $('#addRow').addClass('disabled')
            }
            $("#addRow").click(function(e){
                e.preventDefault()
                if (!emailRowsFull) {
                    $.ajax({
                        url: "/accounts/emailrow/" + emailRowsFull,
                        success: function(data){
                            $("#newRows").append(data)
                            $("#newRows select").material_select()
                            emailCount = $("#userForm input[id^='emails_value_'").length
                            emailRowsFull = (emailCount > 2)
                            if (!emailRowsFull) {
                                $('#addRow').removeClass('disabled')
                            } else {
                                $('#addRow').addClass('disabled');
                            }
                        }
                    })
                }
            })
            $("#userForm").validate()
            $("#userForm select").material_select()
        })

block accountsContent

    form#userForm(role="form", method="post", action="/accounts/save", enctype="application/x-www-form-urlencoded")
        input(type="hidden", name="id", value=data.id)
        .card-panel
            .row
                .col.s12
                    .input-field
                        input(type="text", name="username", id="username", value=data.username, required)
                        label(for="username") Username

            .row
                .col.s6
                    .input-field
                        input(type="password", name="password", id="password", value=data.password, required)
                        label(for="password") Password
                .col.s6
                    .input-field
                        input(type="password", name="password_confirm", id="password_confirm", value=data.password, required)
                        label(for="password_confirm") Confirm Password


            .row
                .col.s6
                    .input-field
                        input(type="text", name="name[givenName]", id="name_givenName" value=data.name.givenName, required)
                        label(for="name_givenName") First Name
                .col.s6
                    .input-field
                        input(type="text", name="name[familyName]", id="familyName" value=data.name.familyName, required)
                        label(for="familyName") Last Name

            if data.emails
                -for email, index in data.emails
                    .row
                        .col.s8.input-field
                            input(type="email", name="emails[#{index}][value]", id="emails_value_#{index}", value=email.value)
                            label(for="emails_value_#{index}") Email
                        .col.s4.input-field
                            select(name="emails[#{index}][type]", id="emails_type_#{index}")
                                option(value="h", selected=email.type == 'h') Home
                                option(value="w", selected=email.type == 'w') Work
                                option(value="o", selected=email.type == 'o') Other
                            label(for="emails_type_#{index}") Type

            #newRows
            a#addRow.btn-flat(href="#") Add Email

        .row
            .col.s12
                button.right.waves-effect.waves-light.btn-large(type="submit") Save User
