extends ./layout

block accountsContent

    form#userListForm(role='form', method='post')
        if data.length
            .collection
                each row in data
                    .collection-item.avatar
                        i.circle.material-icons perm_identity
                        a.title(href= "/accounts/edit?id=#{row.id}")
                            | #{row.name.givenName} #{row.name.familyName} (#{row.username})

                        if data.emails
                            span Email:
                                -for value, index in data.emails
                                    div #{value.type} #{value.value}

                        a(href="/accounts/delete/#{row.id}", class="secondary-content")
                            i.material-icons delete