
// -
//     var menuItems = [
//         {
//             link:'/review',
//             iconClass: 'list layout',
//             title: 'List'
//         },
//         {
//             link: '/review/add',
//             iconClass: 'plus',
//             title: 'Add'
//         }
//     ];

block link
    - var selected = '/review'; // Default

.ui.small.menu
    console.log(path)

    each item in menuItems
        if selected === item.link
            a.item.active(href=item.link, title=item.title)
                i.icon(class=item.iconClass)
                =item.title
        else
            a.item(href=item.link, title=item.title)
                i.icon(class=item.iconClass)
                =item.title

    .right.menu
        .item
            .ui.button Save
        .ui.dropdown.item
            i.ellipsis.vertical.icon
            .menu
                a.item(href="/review/add") #[i.table.icon] One
                a.item(href="/review/add") #[i.trash.red.icon] Two
