block link
    - var selected = '/review' // Default
    - var URL_FOLDER = "/review"

.ui.small.menu
    .right.menu
        .item
            button#deleteAll.ui.basic.button.disabled(type="button")
                i.trash.icon
                | Delete Selected

        .ui.dropdown.item
            i.ellipsis.vertical.icon

            .menu
                each item in menuItems
                    if selected === item.link
                        a.item.active(href=item.link, title=item.title)
                            i.icon(class=item.iconClass)
                            =item.title
                    else
                        a.item(href=item.link, title=item.title)
                            i.icon(class=item.iconClass)
                            =item.title
