extends ./layout

append javascripts
	script(src="/scripts/autocompleters.js")
	jqAutoCompleteMake("#review :input[name='absinthe[producer]']", "/autocomplete/absinthe_manufacturers/")
	jqAutoCompleteMake("#review :input[name='absinthe[name]']", "/autocomplete/absinthe_makes/")
	jqAutoCompleteCountries("#review :input[name='absinthe[country]']")
	script.
		jQuery(function ($) {
			$("#style").absintheStyleSelect("#{data._style}")
			$("#absintheform").validate()
			$("#absintheform select").material_select()
			$("#reviewForm").validate({
				onkeyup: false,
				rules: {
					"absinthe[name]" : {
					},
					"absinthe[style]" : {
					},
					"absinthe[producer]" : {
					},
					"absinthe[country]" : {
					},
					"absinthe[alcohol]" : {
						number: true,
						range: [0, 100]
					}
				}
			})
		})

block absinthesContent

	form#absintheform(role="form", method="post", action="/absinthes/save", enctype="application/x-www-form-urlencoded")
		input(type="hidden", name="id", value=data.id)
		.card: .card-content
			h3.card-title Absinthe Details

			.row: .col.s12: .input-field#absintheMakes
				input.autocomplete.validate.absinthemake(type="text", name="name", id="name" value=data.name || '', required)
				label(for="name") Name

			.row: .col.s12: .input-field
				select(name="_style", id="style", required)
					option(value="") Choose a Style
				label(for="style") Style

			.row: .col.s12: .input-field
				input.validate(type="text", name="producer", id="producer", value=data.producer || '', required)
				label(for="producer") producer

			.row: .col.s12: .input-field
				input.validate(type="text", name="country", id="country", value=data.country || '', required)
				label(for="country") Country

			.row: .col.s12: .input-field
				input.validate(type="number", name="alcohol", id="alcohol", value=data.alcohol || '', required)
				label(for="alcohol") Alcohol

			.row
				.col.s12
					button.right.waves-effect.waves-light.btn-large(type="submit") Save Absinthe
